// @import 'core/settings';
// @import 'core/links';

body {
  margin: 0;
  height: 100vh;
  // background-color: blue;
}

.tachado-tarea {
  text-decoration: line-through;
}

.page {
  border: indigo;
}

.modal {
  background-color: blue;
  height: 300px;
  color: black;

  // position: absolute;
  // bottom: 0;
  // z-index: 2;
}
