<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ejercicio 6# Beatriz Pascual</title>

    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <header class="title__days">
      <!-- <p class="title__number"></p>
      <p class="title__week-day"></p>
      <p class="title__month"></p> -->
    </header>
    <div class="page">
      <button class="add-task" type="button" id="btn-add">+</button>
      <!-- <input class="modal" type="text" value="" /> -->
      <ul class="task__list" id="ul-list"></ul>

      <!-- <label class="task__label" for="task">
        <input
          class="list__element-checkbox"
          id="task"
          type="checkbox"
          value="confirm"
          name="tarea"
        />
        Tarea 1
      </label> -->
    </div>

    <script src="assets/js/main.js"></script>
  </body>
</html>
